*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #083b4c;
    text-align: center;
}


h1{
    color: white;
    font-size: 70px;
    margin-top: 30px;
}


.container{
    margin: 100px auto;
    width: 70%;
    display: flex;
    flex-wrap:
}


.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1389b2;
  }

  .fizzbuzz {
    background-color: #f0466f;
  }

  .fizz{
    background-color: #0cd6a1;
  }

  .buzz{
    background-color: #ffd166;
  }
