*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #083b4c;
    text-align: center;
}


h1{
    color: white;
    font-size: 70px;
    margin-top: 30px;
}


.container{
    margin: 100px auto;
    width: 70%;
    display: flex;
    flex-wrap: ;
}


